# Connecting to IBM DB2 using database API

In [14]:
import ibm_db

In [15]:
#Replace the placeholder values with your actual Db2 hostname, username, and password:
dsn_hostname = "dashdb-txn-sbox-yp-lon02-06.services.eu-gb.bluemix.net" # e.g.: "dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net"
dsn_uid = "xpr68807"        # e.g. "abc12345"
dsn_pwd = "h9zj^k9x6cb0q202"      # e.g. "7dBZ3wWt9XN6$o0J"

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"            # e.g. "BLUDB"
dsn_port = "50000"                # e.g. "50000" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"

In [16]:
#Create the dsn connection string
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)

#print the connection string to check correct values are specified
print(dsn)

DRIVER={IBM DB2 ODBC DRIVER};DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-lon02-06.services.eu-gb.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=xpr68807;PWD=h9zj^k9x6cb0q202;

In [23]:
try:
    conn = ibm_db.connect(dsn,"", "")
    print("Connected to database: ",dsn_database,"as User: ",dsn_uid,"Host: ",dsn_hostname)
except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  BLUDB as User:  xpr68807 Host:  dashdb-txn-sbox-yp-lon02-06.services.eu-gb.bluemix.net

In [36]:
CreateQuery = "create table  Instructor1(id integer primary key not null,fname varchar(20) null, lname varchar(20) null, city varchar(20) null, ccode char(2) null)"
createStmt = ibm_db.exec_immediate(conn, CreateQuery)

In [43]:
InsertQuery = "INSERT INTO Instructor1(id, fname, lname, city, ccode) values('3','Hima','Vasudevan','CHICAGO','US')"
createStmt = ibm_db.exec_immediate(conn, InsertQuery)

In [50]:
SelectQuery = "Select * from instructor1"
selectstm = ibm_db.exec_immediate(conn,SelectQuery)
ibm_db.fetch_both(selectstm)

{'ID': 1,
 0: 1,
 'FNAME': 'Rav',
 1: 'Rav',
 'LNAME': 'Ahuja',
 2: 'Ahuja',
 'CITY': 'TORONTO',
 3: 'TORONTO',
 'CCODE': 'CA',
 4: 'CA'}

In [51]:
import pandas
import ibm_db_dbi

In [52]:
pconn = ibm_db_dbi.Connection(conn)

In [55]:
pdf = pandas.read_sql(SelectQuery,pconn)

In [60]:
pdf.shape

(3, 5)

In [62]:
ibm_db.close(conn)

Exception: Connection is not active